<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $bootstrap := resources.Get "npm/bootstrap/scss/bootstrap.scss" | toCSS -}}
    <link href="{{ $bootstrap.RelPermalink }}" rel="stylesheet">
    {{- $fontawesome := resources.Get "npm/@fortawesome/fontawesome-free/css/all.css" -}}
    {{- $fa_brands := resources.Get "npm/@fortawesome/fontawesome-free/webfonts/fa-brands-400.woff2" -}}
    <!--{{ $fa_brands.RelPermalink }}-->
    <link rel="stylesheet" href="{{ $fontawesome.RelPermalink }}">
</head>

<body><main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">{{ block "main" . }}{{ end }}</main></body>

</html>
